.sneaker-details {
    padding: 10px;
}

li#wishlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: medium solid rgb(122, 190, 250);
    border-radius: 11px;
    padding: 15px;
    width: 48vw;
}

ul {
    padding: 10px;
    display: flex;
    align-items: center;
}

.wishlistTitle {
    padding: 10px;
}

