<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">SNEAKERS -M-</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/about']">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/wishlist']">Wishlist</a> 
                </li>
            </ul>
            <a class="nav-link" id="cart">
                <fa-icon data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                    [icon]="faCartShopping"></fa-icon>
            </a>
        </div>
    </div>
</nav>

<!-- offcanvas cart -->

<div>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">CARRITO</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="cart-item" *ngFor="let sneaker of (cartList$ | async)">
                <ul>
                    <li>
                        <div class="sneaker-details">
                            {{sneaker.name | uppercase}} X {{sneaker.quantity}}
                            {{sneaker.price * sneaker.quantity | currency}}
                        </div>
                        <div class="cart-image">
                            <img src="{{sneaker.image}}" height="90" class="rounded float-start" alt="cart-image">
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="total">
            TOTAL: {{totalPrice$ | async | currency}}
        </div>

        <div class="go-to-cart">
            <button class="btn btn-sm btn-block btn-success" [routerLink]="['/cart']">Ir al carrito </button>
        </div>

    </div>

</div>