.col-md-12.mt-3 {
    display: flex;
    justify-content: center;
}

.card-body.border-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img.card-img-top {
    padding: 10px;
}

