.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.cart-svg {
    height: 90px;
    padding: 20px;
}

.buy {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    // font-size: 25px;
    font-weight: bold;
    // padding-right: 15px;
    padding-left: 5%;
}

.buy-button {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.total {
    display: flex;
    justify-content: space-around;
}

.product {
    display: flex;
    align-items: center;
}

td.sneaker-name {
    padding-left: 50px;
    font-weight: 600;
}

.cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-input {
    padding: 15px;
}

.address-input {
    padding: 15px;
}

.table-separation {
    padding-left: 50px;
}

.alert {
    position: fixed;
    top: 0;
    right: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    padding: 2rem;
    background: #fff;
    color: #ff0000;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    opacity: 0;
}

.visible {
    opacity: 1;
    transform: translateY(1.25rem);
}