.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.cart-svg {
    height: 90px;
    padding: 20px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    font-weight: bold;
    padding-right: 15px;
}