<div *ngIf="(cartList$ | async) as activeCart">

    <div *ngIf="activeCart.length > 0">
    
        <h1>Carrito</h1>

        <table class="table table-bordered border border-info p-2 mb-2 border-opacity-25">
            <thead>
                <tr>
                    <th scope="col">Imagen</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                </tr>
            </thead>

            <tbody *ngFor="let sneaker of (cartList$ | async)">
                <tr>
                    <th scope="row"><img [src]="sneaker.image" height="90" class="rounded float-start" alt="cart-image">
                    </th>
                    <td>{{sneaker.name}}</td>
                    <td>{{sneaker.quantity}}</td>
                    <td>{{sneaker.price | currency}}</td>
                </tr>
            </tbody>
        </table>

        <div class="total-price">
            TOTAL: {{totalPrice$ | async | currency}}
        </div>

    </div>

</div>


<ng-container *ngIf="(cartList$ | async) as activeCart">
    <div class="empty-cart" *ngIf="activeCart.length == 0">
        <img class="cart-svg" src="assets\img\cart.svg" alt="cart-svg">
        <p>Tu carrito esta vacío</p>
        <button class="btn btn-sm btn-block btn-success" [routerLink]="['/']">Mirá la tienda</button>
    </div>
</ng-container>